doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/style.css')
    title System Solution
  body 
    .mobile-menu 
      img.mobile-close.dropdown-close(
        src='assets/close.svg',
        alt='Menu close button'
      )
      a.phone.header-info__phone(href='tel:+375292222240') +375 (29) 222-22-40
      ul.menu.header-menu
        li.menu-item.header-menu__item
          a.menu-link.header-menu__link(href='#') о компании
        li.menu-item.header-menu__item
          a.menu-link.header-menu__link.dropdown-open(href='#') услуги
          ul.dropdown-menu 
            img.dropdown-back(
              src='assets/slider-arrow.svg',
              alt='Dropdown menu back button'
            )
            img.dropdown-close.dropdown-close-btn(
              src='assets/close.svg',
              alt='Dropdown menu close button'
            )
            li.dropdown-menu-item
              a.dropdown-link(href='#') Обслуживание компьютеров
            li.dropdown-menu-item
              a.dropdown-link(href='#') Обслуживание серверов
            li.dropdown-menu-item
              a.dropdown-link(href='#') IT-аутсорсинг
            li.dropdown-menu-item
              a.dropdown-link(href='#') Монтаж СКС и ЛВС
            li.dropdown-menu-item
              a.dropdown-link(href='#') IP-телефония
            li.dropdown-menu-item
              a.dropdown-link(href='#') Видеонаблюдение
            li.dropdown-menu-item
              a.dropdown-link(href='#') Внедрение и сопровождение Битрикс24
        li.menu-item.header-menu__item
          a.menu-link.header-menu__link(href='#') цены
        li.menu-item.header-menu__item
          a.menu-link.header-menu__link(href='#') информация
        li.menu-item.header-menu__item
          a.menu-link.header-menu__link(href='#') контакты
    header.header.sticky
      a.header-logo-wrapper(href='#') 
        img.logo.header-logo(
          src='assets/logo-dark.svg',
          alt='System Solution logo'
        )
      img.header-mobile-menu(
        src='assets/menu-burger.svg',
        alt='Open mobile menu button'
      )

      .header-inner
        .header-info
          .header-info__search
            img.header-info__search-icon(
              src='assets/search-icon.svg',
              alt='Search button'
            )
            input.header-info__search-input(type='text', placeholder='')

          a.phone.header-info__phone(href='tel:+375292222240') +375 (29) 222-22-40
          .header-info__work
            .header-info__work-title Режим работы
            .header-info__work-hours пн - пт <span>9</span><sup>00</sup> - <span>18</span><sup>00</sup>
          .header-info__contacts 
            .header-info__contacts-address Минск, ул.Казинца, дом 11а, офис Б-405
            a.header-info__contacts-email(href='mailto:director@it-1.by') director@it-1.by
        ul.menu.header-menu
          li.menu-item.header-menu__item
            a.menu-link.header-menu__link(href='#') о компании
          li.menu-item.header-menu__item
            a.menu-link.header-menu__link(href='#') услуги
            ul.dropdown-menu 
              li.dropdown-menu-item
                a.dropdown-link(href='#') Обслуживание компьютеров
              li.dropdown-menu-item
                a.dropdown-link(href='#') Обслуживание серверов
              li.dropdown-menu-item
                a.dropdown-link(href='#') IT-аутсорсинг
              li.dropdown-menu-item
                a.dropdown-link(href='#') Монтаж СКС и ЛВС
              li.dropdown-menu-item
                a.dropdown-link(href='#') IP-телефония
              li.dropdown-menu-item
                a.dropdown-link(href='#') Видеонаблюдение
              li.dropdown-menu-item
                a.dropdown-link(href='#') Внедрение и сопровождение Битрикс24
          li.menu-item.header-menu__item
            a.menu-link.header-menu__link(href='#') цены
          li.menu-item.header-menu__item
            a.menu-link.header-menu__link(href='#') информация
          li.menu-item.header-menu__item
            a.menu-link.header-menu__link(href='#') контакты
      .header-button-wrapper
        button.button.header-button заказать звонок
    main.main 
      section.hero 
        .container
          .hero-wrapper
            .hero-text 
              p.hero-text__suptitle Нет системного администратора в штате?
              h1.hero-text__title it-аутсорсинг
              p.hero-text__subtitle Экономия около <b>50%</b> на организации и содержании рабочего места для системного администратора
            img.hero-image(src='assets/hero-img.svg', alt='Hero image')
      section.advantages 
        .container
          h2.section-title.advantages-title Преимущества
          .advantages-items
            .advantages-item
              img.advantages-item__image(
                src='assets/advantages(1).svg',
                alt='Advantages image'
              )
              p.advantages-item__title Экономия
              p.advantages-item__description При работе с нами экономия до 50% от заработной платы штатного системного администратора
            .advantages-item
              img.advantages-item__image(
                src='assets/advantages(2).svg',
                alt='Advantages image'
              )
              p.advantages-item__title Нет отпуска
              p.advantages-item__description Специалист на аутсорсинге не уходит в отпуск, всегда есть сотрудник на связи
            .advantages-item
              img.advantages-item__image(
                src='assets/advantages(3).svg',
                alt='Advantages image'
              )
              p.advantages-item__title Оперативный выезд
              p.advantages-item__description При невозможности решить проблему удаленно, оперативный выезд к заказчику
            .advantages-item
              img.advantages-item__image(
                src='assets/advantages(4).svg',
                alt='Advantages image'
              )
              p.advantages-item__title Работа по договору
              p.advantages-item__description Специалист находится в нашем офисе и все расходы по его содержанию возложены на нас
      section.about 
        .container
          h2.about-title.section-title О компании
          .about-inner 
            img.about-image(src='assets/about-img.svg', alt='About image')
            .about-text
              .about-text__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a. Rhoncus tellus eleifend vitae, pulvinar massa elementum erat risus sit. Id nunc donec quis nunc. Viverra risus quis risus ornare consequat eros adipiscing. In mauris commodo volutpat morbi. Viverra neque tellus mi semper euismod malesuada egestas ipsum. Vitae nisi interdum feugiat molestie diam semper. Lectus sit tincidunt vitae, lobortis massa ut. Dapibus posuere lorem ornare in.
              button.about-text__button Читать полностью
                img.about-text__button-icon(
                  src='assets/arrow-right.svg',
                  alt='Read more button'
                )
      section.services
        .container
          h2.services-title.section-title Услуги
          .services-inner 
            ul.services-tabs
              li.services-tab.active Обслуживание компьютеров
              li.services-tab Обслуживание сервисов
              li.services-tab IT-аутсорсинг
              li.services-tab Монтаж СКС и ЛВС
              li.services-tab IP-телефония
              li.services-tab Видеонаблюдение
              li.services-tab Внедрение и сопровождение Битрикс24
            .services-texts
              .services-text.visible 
                img.services-text__image(
                  src='assets/services(1).svg',
                  alt='Services image'
                )
                .services-text__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a
              .services-text 
                img.services-text__image(
                  src='assets/services(1).svg',
                  alt='Services image'
                )
                .services-text__description Lorem ipsum dol
              .services-text 
                img.services-text__image(
                  src='assets/services(1).svg',
                  alt='Services image'
                )
                .services-text__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna h
              .services-text 
                img.services-text__image(
                  src='assets/services(1).svg',
                  alt='Services image'
                )
                .services-text__description Lorem
              .services-text 
                img.services-text__image(
                  src='assets/services(1).svg',
                  alt='Services image'
                )
                .services-text__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a
              .services-text 
                img.services-text__image(
                  src='assets/services(1).svg',
                  alt='Services image'
                )
                .services-text__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a
              .services-text 
                img.services-text__image(
                  src='assets/services(1).svg',
                  alt='Services image'
                )
                .services-text__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a
      section.prices 
        .container
          .prices-wrapper
            h2.prices-title.section-title Цены
            p.prices-subtitle Чаще всего нам заказывают
            .prices-cards 
              .prices-card
                img.prices-card__image(
                  src='assets/prices(1).svg',
                  alt='Prices card image'
                )
                h3.prices-card__title Обслуживание компьютеров
                .prices-card__bottom
                  .prices-card__price 1100<span>byn</span>
                  img.prices-card__icon(
                    src='assets/arrow-right.svg',
                    alt='More arrow'
                  ) 
              .prices-card
                img.prices-card__image(
                  src='assets/prices(1).svg',
                  alt='Prices card image'
                )
                h3.prices-card__title Обслуживание серверов
                .prices-card__bottom
                  .prices-card__price 1100<span>byn</span>
                  img.prices-card__icon(
                    src='assets/arrow-right.svg',
                    alt='More arrow'
                  ) 
              .prices-card
                img.prices-card__image(
                  src='assets/prices(1).svg',
                  alt='Prices card image'
                )
                h3.prices-card__title IT-аутсорсинг
                .prices-card__bottom
                  .prices-card__price 1100<span>byn</span>
                  img.prices-card__icon(
                    src='assets/arrow-right.svg',
                    alt='More arrow'
                  ) 
              .prices-card
                img.prices-card__image(
                  src='assets/prices(1).svg',
                  alt='Prices card image'
                )
                h3.prices-card__title Монтаж СКС и ЛВС
                .prices-card__bottom
                  .prices-card__price 1100<span>byn</span>
                  img.prices-card__icon(
                    src='assets/arrow-right.svg',
                    alt='More arrow'
                  ) 
            button.button.prices-button посмотреть все цены
      section.calculator 
        .container
          .calculator-wrapper
            h2.calculator-title.section-title Калькулятор
            p.calculator-subtitle Здесь вы можете предварительно расчитать стоимость услуги
            .calculator-inner 
              .calculator-block.range-wrapper
                .range-label Количество рабочих мест
                .range-block 
                  ul.range-values
                    li 0
                    li 10
                    li 20
                    li 30
                    li 40
                    li 50
                    li 60
                    li 70
                    li 80
                  input.range(type='range', min='0', value='0', max='80')
                  span.range-slider
                .range-output
                  .range-minus
                  input.range-number(type='text', value='0')
                  .range-plus
              .calculator-block.range-wrapper
                .range-label Количество рабочих мест
                .range-block 
                  ul.range-values
                    li 0
                    li 10
                    li 20
                    li 30
                    li 40
                  input.range(type='range', min='0', value='0', max='40')
                  span.range-slider
                .range-output
                  .range-minus
                  input.range-number(type='text', value='0')
                  .range-plus
              .calculator-block.toggle-wrapper
                .toggle-block 
                  input#microsoft-cbx.toggle-checkbox(type='checkbox') 
                  label.toggle-checkbox__label(for='microsoft-cbx') 
                  span.toggle-checkbox__text Microsoft
                .toggle-block 
                  input#linux-cbx.toggle-checkbox(type='checkbox') 
                  label.toggle-checkbox__label(for='linux-cbx') 
                  span.toggle-checkbox__text Linux
              .calculator-block.range-wrapper
                .range-label Количество рабочих мест
                .range-block 
                  ul.range-values
                    li 0
                    li 5
                    li 10
                    li 15
                    li 20
                  input.range(type='range', min='0', value='0', max='20')
                  span.range-slider
                .range-output
                  .range-minus
                  input.range-number(type='text', value='0')
                  .range-plus
              .calculator-options__title Дополнительные опции
              .calculator-options__wrapper
                .calculator-block.calculator-options__item
                  .calculator-options__item-title Телефонная станция IP
                  .range-output
                    .range-minus
                    input.range-number(type='text', value='0')
                    .range-plus
                .calculator-block.calculator-options__item
                  .calculator-options__item-title СКУД
                  .range-output
                    .range-minus
                    input.range-number(type='text', value='0')
                    .range-plus
                .calculator-block.calculator-options__item
                  .calculator-options__item-title Видеорегистратор
                  .range-output
                    .range-minus
                    input.range-number(type='text', value='0')
                    .range-plus
                .calculator-block.calculator-options__item
                  .calculator-options__item-title Гипервизор
                  .range-output
                    .range-minus
                    input.range-number(type='text', value='0')
                    .range-plus
                .calculator-block.calculator-options__item
                  .calculator-options__item-title Считыватель СКУД
                  .range-output
                    .range-minus
                    input.range-number(type='text', value='0')
                    .range-plus
                .calculator-block.calculator-options__item
                  .calculator-options__item-title IP камера видеонаблюдения
                  .range-output
                    .range-minus
                    input.range-number(type='text', value='0')
                    .range-plus
                .calculator-block.calculator-options__item
                  .calculator-options__item-title Сетевое хранилище
                  .range-output
                    .range-minus
                    input.range-number(type='text', value='0')
                    .range-plus
                .calculator-block.calculator-options__item
                  .calculator-options__item-title Управляемый коммутатор / маршрутизатор
                  .range-output
                    .range-minus
                    input.range-number(type='text', value='0')
                    .range-plus
              .calculator-total__wrapper
                .calculator-total__title Итоговая стоимость
                .calculator-total__item
                  .calculator-total__item-radio
                    input#total1(type='radio', name='total')
                    label(for='total1') на 1 месяц
                  span.calculator-total__item-discount 0%
                  span.calculator-total__item-price 1100<span>BYN</span>
                .calculator-total__item
                  .calculator-total__item-radio 
                    input#total2(type='radio', name='total')
                    label(for='total2') на 6 месяцев
                  span.calculator-total__item-discount -6%
                  span.calculator-total__item-price 1034<span>BYN</span>
                .calculator-total__item
                  .calculator-total__item-radio 
                    input#total3(type='radio', name='total', checked)
                    label(for='total3') на 12 месяцев
                  span.calculator-total__item-discount -12%
                  span.calculator-total__item-price 968<span>BYN</span>
                button.button.calculator-total__button оформить заявку

      section.feedback.feedback-left 
        .container
          .feedback-wrapper
            img.feedback-image(src='assets/form-image.svg', alt='Form image')
            form.feedback-form 
              h3.feedback-form__title Появились вопросы?
              p.feedback-form__subtitle Оставьте нам ваши контактные данные и мы перезвоним вам в течении 30 минут
              input.input.feedback-form__input(placeholder='Ваше имя') 
              input.input.feedback-form__input(placeholder='Ваш телефон') 
              button.button.feedback-form__button заказать звонок
      section.how 
        .container
          h2.section-title.how-title Как мы работаем
          .advantages-items
            .advantages-item
              img.advantages-item__image(
                src='assets/how(1).svg',
                alt='How we work image'
              )
              p.advantages-item__description Звоните нам или оставляете заявку на сайте
            .advantages-item
              img.advantages-item__image(
                src='assets/how(2).svg',
                alt='How we work image'
              )
              p.advantages-item__description Мы связываемся с вами, уточняем о возникшей проблеме и проводим бесплатную консультацию по решению
            .advantages-item
              img.advantages-item__image(
                src='assets/how(3).svg',
                alt='How we work image'
              )
              p.advantages-item__description Определяем порядок действий. Подписываем договор
            .advantages-item
              img.advantages-item__image(
                src='assets/how(4).svg',
                alt='How we work image'
              )
              p.advantages-item__description Решаем все поставленные задачи
      section.team 
        .container
          h2.section-title.team-title Наша компания
          .swiper-button-prev.swiper-team-prev 
          .swiper-button-next.swiper-team-next 
          .swiper.swiper-team
            .team-slider.slider-wrapper
              .team-slider__item.swiper-slide
                img.team-slider__item-image(
                  src='assets/team-image.svg',
                  alt='Person picture'
                )
                .team-slider__item-position Должность
                .team-slider__item-lastname Фамилия
                .team-slider__item-name Имя Отчество
              .team-slider__item.swiper-slide
                img.team-slider__item-image(
                  src='assets/team-image.svg',
                  alt='Person picture'
                )
                .team-slider__item-position Должность
                .team-slider__item-lastname Фамилия
                .team-slider__item-name Имя Отчество
              .team-slider__item.swiper-slide
                img.team-slider__item-image(
                  src='assets/team-image.svg',
                  alt='Person picture'
                )
                .team-slider__item-position Должность
                .team-slider__item-lastname Фамилия
                .team-slider__item-name Имя Отчество
      section.reviews 
        .container
          h2.section-title.reviews-title Отзывы
          .swiper-button-prev.swiper-reviews-prev 
          .swiper-button-next.swiper-reviews-next 
          .swiper.swiper-reviews
            .reviews-slider.slider-wrapper 
              .reviews-slider__item.swiper-slide
                img.reviews-slider__item-image(
                  src='assets/reviews.svg',
                  alt='Review person picture'
                )
                .reviews-slider__item-inner
                  .reviews-slider__item-name Имя Отчество
                  .reviews-slider__item-description “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a”
                  .reviews-slider__item-date 01.07.2022
              .reviews-slider__item.swiper-slide
                img.reviews-slider__item-image(
                  src='assets/reviews.svg',
                  alt='Review person picture'
                )
                .reviews-slider__item-inner
                  .reviews-slider__item-name Имя Отчество
                  .reviews-slider__item-description “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a”
                  .reviews-slider__item-date 01.07.2022
      section.feedback.feedback-right 
        .container
          .feedback-wrapper
            img.feedback-image(src='assets/form-image-2.svg', alt='Form image')
            form.feedback-form 
              h3.feedback-form__title Все еще сомневаетесь?
              p.feedback-form__subtitle Оставьте заявку и наши менеджеры помогут вам сэконимить бюджет
              input.input.feedback-form__input(placeholder='Ваше имя') 
              input.input.feedback-form__input(placeholder='Ваш телефон') 
              button.button.feedback-form__button отправить заявку
    footer.footer
      .container
        .footer-wrapper
          img.footer-logo(src='assets/logo-light.svg', alt='Footer logo')
          ul.menu.footer-menu
            li.menu-item.footer-menu__item 
              a.menu-link.footer-menu__link о компании
            li.menu-item.footer-menu__item 
              a.menu-link.footer-menu__link услуги
            li.menu-item.footer-menu__item 
              a.menu-link.footer-menu__link цены
            li.menu-item.footer-menu__item 
              a.menu-link.footer-menu__link информация
            li.menu-item.footer-menu__item 
              a.menu-link.footer-menu__link контакты
          a.phone.footer-phone(href='tel:+375292222240') +375 (29) 222-22-40
          a.footer-email(href='mailto:director@it-1.by') director@it-1.by
          .footer-address Минск, ул.Казинца, дом 11а, офис Б-405
          .footer-work Режим работы: пн - пт 9<sup>00</sup> - 18<sup>00</sup>

    script(src='assets/js/swiper-bundle.min.js') 
    script(src='js/main.min.js') 
