doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/style.css')
    title System Solution
  body 
    .mobile-menu 
      img.mobile-close.dropdown-close(
        src='assets/close.svg',
        alt='Menu close button'
      )
      a.phone.header-info__phone(href='tel:+375292222240') +375 (29) 222-22-40
      ul.menu.header-menu
        li.menu-item.header-menu__item
          a.menu-link.header-menu__link(href='#') о компании
        li.menu-item.header-menu__item
          span.menu-link.header-menu__link.dropdown-open услуги
          ul.dropdown-menu 
            li.dropdown-menu-item
              a(href='#1') Обслуживание компьютеров
            li.dropdown-menu-item
              a(href='#2') Обслуживание серверов
            li.dropdown-menu-item
              a(href='#3') IT-аутсорсинг
            li.dropdown-menu-item
              a(href='#4') Монтаж СКС и ЛВС
            li.dropdown-menu-item
              a(href='#5') IP-телефония
            li.dropdown-menu-item
              a(href='#6') Видеонаблюдение
            li.dropdown-menu-item
              a(href='#7') Внедрение и сопровождение Битрикс24
        li.menu-item.header-menu__item
          a.menu-link.header-menu__link(href='#') цены
        li.menu-item.header-menu__item
          a.menu-link.header-menu__link(href='#') информация
        li.menu-item.header-menu__item
          a.menu-link.header-menu__link(href='#') контакты
    header.header.sticky
      a.header-logo-wrapper(href='#') 
        img.logo.header-logo(
          src='assets/logo-dark.svg',
          alt='System Solution logo'
        )
      img.header-mobile-menu(
        src='assets/menu-burger.svg',
        alt='Open mobile menu button'
      )

      .header-inner
        .header-info
          .header-info__search
            img.header-info__search-icon(
              src='assets/search-icon.svg',
              alt='Search button'
            )
            input.header-info__search-input(type='text', placeholder='')

          a.phone.header-info__phone(href='tel:+375292222240') +375 (29) 222-22-40
          .header-info__work
            .header-info__work-title Режим работы
            .header-info__work-hours пн - пт <span>9</span><sup>00</sup> - <span>18</span><sup>00</sup>
          .header-info__contacts 
            .header-info__contacts-address Минск, ул.Казинца, дом 11а, офис Б-405
            a.header-info__contacts-email(href='mailto:director@it-1.by') director@it-1.by
        ul.menu.header-menu
          li.menu-item.header-menu__item
            a.menu-link.header-menu__link(href='#') о компании
          li.menu-item.header-menu__item
            span.menu-link.header-menu__link услуги
            ul.dropdown-menu 
              li.dropdown-menu-item
                a(href='#') Обслуживание компьютеров
              li.dropdown-menu-item
                a(href='#') Обслуживание серверов
              li.dropdown-menu-item
                a(href='#') IT-аутсорсинг
              li.dropdown-menu-item
                a(href='#') Монтаж СКС и ЛВС
              li.dropdown-menu-item
                a(href='#') IP-телефония
              li.dropdown-menu-item
                a(href='#') Видеонаблюдение
              li.dropdown-menu-item
                a(href='#') Внедрение и сопровождение Битрикс24
          li.menu-item.header-menu__item
            a.menu-link.header-menu__link(href='#') цены
          li.menu-item.header-menu__item
            a.menu-link.header-menu__link(href='#') информация
          li.menu-item.header-menu__item
            a.menu-link.header-menu__link(href='#') контакты
      .header-button-wrapper
        button.button.header-button заказать звонок
    main.main 
      section.hero 
        .container
          .hero-wrapper
            .hero-text 
              p.hero-text__suptitle.text-s Нет системного администратора в штате?
              h1.hero-text__title.text-title it-аутсорсинг
              p.hero-text__subtitle.text-l Экономия около <b class="text-xl">50%</b> на организации и содержании рабочего места для системного администратора
            img.hero-image(src='assets/hero-img.svg', alt='Hero image')
      section.advantages 
        .container
          h2.section-title.text-xxl.advantages-title Преимущества
          .advantages-items
            .advantages-item
              img.advantages-item__image(
                src='assets/advantages(1).svg',
                alt='Advantages image'
              )
              p.advantages-item__title.text-l Экономия
              p.advantages-item__description.text-s При работе с нами экономия до 50% от заработной платы штатного системного администратора
            .advantages-item
              img.advantages-item__image(
                src='assets/advantages(2).svg',
                alt='Advantages image'
              )
              p.advantages-item__title.text-l Нет отпуска
              p.advantages-item__description.text-s Специалист на аутсорсинге не уходит в отпуск, всегда есть сотрудник на связи
            .advantages-item
              img.advantages-item__image(
                src='assets/advantages(3).svg',
                alt='Advantages image'
              )
              p.advantages-item__title.text-l Оперативный выезд
              p.advantages-item__description.text-s При невозможности решить проблему удаленно, оперативный выезд к заказчику
            .advantages-item
              img.advantages-item__image(
                src='assets/advantages(4).svg',
                alt='Advantages image'
              )
              p.advantages-item__title.text-l Работа по договору
              p.advantages-item__description.text-s Специалист находится в нашем офисе и все расходы по его содержанию возложены на нас
      section.about 
        .container
          h2.about-title.section-title.text-xxl О компании
          .about-inner 
            img.about-image(src='assets/about-img.svg', alt='About image')
            .about-text
              .about-text__description.text-s Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a. Rhoncus tellus eleifend vitae, pulvinar massa elementum erat risus sit. Id nunc donec quis nunc. Viverra risus quis risus ornare consequat eros adipiscing. In mauris commodo volutpat morbi. Viverra neque tellus mi semper euismod malesuada egestas ipsum. Vitae nisi interdum feugiat molestie diam semper. Lectus sit tincidunt vitae, lobortis massa ut. Dapibus posuere lorem ornare in.
              button.about-text__button Читать полностью
                img.about-text__button-icon(
                  src='assets/arrow-right.svg',
                  alt='Read more button'
                )
      section.services
        .container
          h2.services-title.section-title.text-xxl Услуги
          .services-inner 
            ul.services-tabs
              li.services-tab.active Обслуживание компьютеров
              li.services-tab Обслуживание сервисов
              li.services-tab IT-аутсорсинг
              li.services-tab Монтаж СКС и ЛВС
              li.services-tab IP-телефония
              li.services-tab Видеонаблюдение
              li.services-tab Внедрение и сопровождение Битрикс24
            .services-texts
              .services-text.visible 
                img.services-text__image(
                  src='assets/services(1).svg',
                  alt='Services image'
                )
                .services-text__description.text-s Lorem ipsum dolor sit amet, consectetur adipiscing elit. ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a
              .services-text 
                img.services-text__image(
                  src='assets/services(1).svg',
                  alt='Services image'
                )
                .services-text__description.text-s Lorem ipsum dol
              .services-text 
                img.services-text__image(
                  src='assets/services(1).svg',
                  alt='Services image'
                )
                .services-text__description.text-s Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna h
              .services-text 
                img.services-text__image(
                  src='assets/services(1).svg',
                  alt='Services image'
                )
                .services-text__description.text-s Lorem
              .services-text 
                img.services-text__image(
                  src='assets/services(1).svg',
                  alt='Services image'
                )
                .services-text__description.text-s Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a
              .services-text 
                img.services-text__image(
                  src='assets/services(1).svg',
                  alt='Services image'
                )
                .services-text__description.text-s Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a
              .services-text 
                img.services-text__image(
                  src='assets/services(1).svg',
                  alt='Services image'
                )
                .services-text__description.text-s Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a
      section.prices 
        .container
          .prices-wrapper
            h2.prices-title.section-title.text-xxl Цены
            p.prices-subtitle.text-s Чаще всего нам заказывают
            .prices-cards 
              .prices-card
                img.prices-card__image(
                  src='assets/prices(1).svg',
                  alt='Prices card image'
                )
                h3.prices-card__title Обслуживание компьютеров
                .prices-card__bottom
                  .prices-card__price 1100<span>byn</span>
                  img.prices-card__icon(
                    src='assets/arrow-right.svg',
                    alt='More arrow'
                  ) 
              .prices-card
                img.prices-card__image(
                  src='assets/prices(1).svg',
                  alt='Prices card image'
                )
                h3.prices-card__title Обслуживание серверов
                .prices-card__bottom
                  .prices-card__price 1100<span>byn</span>
                  img.prices-card__icon(
                    src='assets/arrow-right.svg',
                    alt='More arrow'
                  ) 
              .prices-card
                img.prices-card__image(
                  src='assets/prices(1).svg',
                  alt='Prices card image'
                )
                h3.prices-card__title IT-аутсорсинг
                .prices-card__bottom
                  .prices-card__price 1100<span>byn</span>
                  img.prices-card__icon(
                    src='assets/arrow-right.svg',
                    alt='More arrow'
                  ) 
              .prices-card
                img.prices-card__image(
                  src='assets/prices(1).svg',
                  alt='Prices card image'
                )
                h3.prices-card__title Монтаж СКС и ЛВС
                .prices-card__bottom
                  .prices-card__price 1100<span>byn</span>
                  img.prices-card__icon(
                    src='assets/arrow-right.svg',
                    alt='More arrow'
                  ) 
            button.button.prices-button посмотреть все цены
      section.calculator 
        .container
          .calculator-wrapper
            h2.calculator-title.section-title.text-xxl Калькулятор
            p.calculator-subtitle.text-s Здесь вы можете предварительно расчитать стоимость услуги
            .calculator-inner 
              .calculator-block.range-block
                .range-label Количество рабочих мест
                .range-wrapper 
                  ul.range-values
                    li 0
                    li 10
                    li 20
                    li 30
                    li 40
                    li 50
                    li 60
                    li 70
                    li 80
                  input.range(type='range', min='0', value='0', max='80')
                  span.range-slider
                .output-block
                  .output-minus
                  input.output-number(type='text', value='0')
                  .output-plus
              .calculator-block.range-block
                .range-label Количество серверных машин
                .range-wrapper 
                  ul.range-values
                    li 0
                    li 10
                    li 20
                    li 30
                    li 40
                  input.range(type='range', min='0', value='0', max='40')
                  span.range-slider
                .output-block
                  .output-minus
                  input.output-number(type='text', value='0')
                  .output-plus
              .calculator-block.toggle-block
                .toggle-wrapper 
                  input#microsoft-cbx.toggle-checkbox(type='checkbox') 
                  label.toggle-label(for='microsoft-cbx') 
                  span.toggle-text Microsoft
                .toggle-wrapper 
                  input#linux-cbx.toggle-checkbox(type='checkbox') 
                  label.toggle-label(for='linux-cbx') 
                  span.toggle-text Linux
              .calculator-block.range-block
                .range-label Количество принтеров
                .range-wrapper 
                  ul.range-values
                    li 0
                    li 5
                    li 10
                    li 15
                    li 20
                  input.range(type='range', min='0', value='0', max='40')
                  span.range-slider
                .output-block
                  .output-minus
                  input.output-number(type='text', value='0')
                  .output-plus
              .calculator-inner-title Дополнительные опции
              .options-wrapper
                .calculator-block.options-block
                  .options-title Телефонная станция IP
                  .output-block
                    .output-minus
                    input.output-number(type='text', value='0')
                    .output-plus
                .calculator-block.options-block
                  .options-title Телефонная станция IP
                  .output-block
                    .output-minus
                    input.output-number(type='text', value='0')
                    .output-plus
                .calculator-block.options-block
                  .options-title Телефонная станция IP
                  .output-block
                    .output-minus
                    input.output-number(type='text', value='0')
                    .output-plus
                .calculator-block.options-block
                  .options-title Телефонная станция IP
                  .output-block
                    .output-minus
                    input.output-number(type='text', value='0')
                    .output-plus
                .calculator-block.options-block
                  .options-title Телефонная станция IP
                  .output-block
                    .output-minus
                    input.output-number(type='text', value='0')
                    .output-plus
                .calculator-block.options-block
                  .options-title Телефонная станция IP
                  .output-block
                    .output-minus
                    input.output-number(type='text', value='0')
                    .output-plus
                .calculator-block.options-block
                  .options-title Телефонная станция IP
                  .output-block
                    .output-minus
                    input.output-number(type='text', value='0')
                    .output-plus
                .calculator-block.options-block
                  .options-title Телефонная станция IP
                  .output-block
                    .output-minus
                    input.output-number(type='text', value='0')
                    .output-plus

              .total-wrapper
                .calculator-inner-title.total-title Итоговая стоимость
                .total-block
                  .total-radio
                    input#total1(type='radio', name='total')
                    label(for='total1') на 1 месяц
                  span.total-discount 0%
                  span.total-price 1100<span>BYN</span>
                .total-block
                  .total-radio
                    input#total2(type='radio', name='total')
                    label(for='total2') на 1 месяц
                  span.total-discount 0%
                  span.total-price 1100<span>BYN</span>
                .total-block
                  .total-radio
                    input#total3(type='radio', name='total', checked)
                    label(for='total3') на 1 месяц
                  span.total-discount 0%
                  span.total-price 1100<span>BYN</span>

                button.button.total-button оформить заявку
      section.feedback.feedback-left 
        .container
          .feedback-wrapper
            img.feedback-image(src='assets/form-image.svg', alt='Form image')
            form.feedback-form 
              h3.feedback-form__title Появились вопросы?
              p.feedback-form__subtitle.text-s Оставьте нам ваши контактные данные и мы перезвоним вам в течении 30 минут
              input.input.feedback-form__input(placeholder='Ваше имя') 
              input.input.feedback-form__input(placeholder='Ваш телефон') 
              button.button.feedback-form__button заказать звонок
      section.how 
        .container
          h2.section-title.text-xxl.how-title Как мы работаем
          .advantages-items
            .advantages-item
              img.advantages-item__image(
                src='assets/how(1).svg',
                alt='How we work image'
              )
              p.advantages-item__description.text-s Звоните нам или оставляете заявку на сайте
            .advantages-item
              img.advantages-item__image(
                src='assets/how(2).svg',
                alt='How we work image'
              )
              p.advantages-item__description.text-s Мы связываемся с вами, уточняем о возникшей проблеме и проводим бесплатную консультацию по решению
            .advantages-item
              img.advantages-item__image(
                src='assets/how(3).svg',
                alt='How we work image'
              )
              p.advantages-item__description.text-s Определяем порядок действий. Подписываем договор
            .advantages-item
              img.advantages-item__image(
                src='assets/how(4).svg',
                alt='How we work image'
              )
              p.advantages-item__description.text-s Решаем все поставленные задачи
      section.team 
        .container
          h2.section-title.text-xxl.team-title Наша команда
          .swiper-button-prev.swiper-team-prev 
          .swiper-button-next.swiper-team-next 
          .swiper.swiper-team
            .team-slider.slider-wrapper
              .team-slider__item.swiper-slide
                img.team-slider__item-image(
                  src='assets/team-image.svg',
                  alt='Person picture'
                )
                .team-slider__item-position.text-s Должность
                .team-slider__item-lastname Фамилия
                .team-slider__item-name.text-m Имя Отчество
              .team-slider__item.swiper-slide
                img.team-slider__item-image(
                  src='assets/team-image.svg',
                  alt='Person picture'
                )
                .team-slider__item-position.text-s Должность
                .team-slider__item-lastname Фамилия
                .team-slider__item-name.text-m Имя Отчество
              .team-slider__item.swiper-slide
                img.team-slider__item-image(
                  src='assets/team-image.svg',
                  alt='Person picture'
                )
                .team-slider__item-position.text-s Должность
                .team-slider__item-lastname Фамилия
                .team-slider__item-name.text-m Имя Отчество
      section.reviews 
        .container
          h2.section-title.text-xxl.reviews-title Отзывы
          .swiper-button-prev.swiper-reviews-prev 
          .swiper-button-next.swiper-reviews-next 
          .swiper.swiper-reviews
            .reviews-slider.slider-wrapper 
              .reviews-slider__item.swiper-slide
                img.reviews-slider__item-image(
                  src='assets/reviews.svg',
                  alt='Review person picture'
                )
                .reviews-slider__item-inner
                  .reviews-slider__item-name.text-s Имя Отчество
                  .reviews-slider__item-description.text-s “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a”
                  .reviews-slider__item-date 01.07.2022
              .reviews-slider__item.swiper-slide
                img.reviews-slider__item-image(
                  src='assets/reviews.svg',
                  alt='Review person picture'
                )
                .reviews-slider__item-inner
                  .reviews-slider__item-name.text-s Имя Отчество
                  .reviews-slider__item-description.text-s “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a”
                  .reviews-slider__item-date 01.07.2022
      section.feedback.feedback-right 
        .container
          .feedback-wrapper
            img.feedback-image(src='assets/form-image-2.svg', alt='Form image')
            form.feedback-form 
              h3.feedback-form__title Все еще сомневаетесь?
              p.feedback-form__subtitle.text-s Оставьте заявку и наши менеджеры помогут вам сэконимить бюджет
              input.input.feedback-form__input(placeholder='Ваше имя') 
              input.input.feedback-form__input(placeholder='Ваш телефон') 
              button.button.feedback-form__button отправить заявку
    footer.footer
      .container
        .footer-wrapper
          img.footer-logo(src='assets/logo-light.svg', alt='Footer logo')
          ul.menu.footer-menu
            li.menu-item.footer-menu__item 
              a.menu-link.footer-menu__link о компании
            li.menu-item.footer-menu__item 
              a.menu-link.footer-menu__link услуги
            li.menu-item.footer-menu__item 
              a.menu-link.footer-menu__link цены
            li.menu-item.footer-menu__item 
              a.menu-link.footer-menu__link информация
            li.menu-item.footer-menu__item 
              a.menu-link.footer-menu__link контакты
          a.phone.footer-phone(href='tel:+375292222240') +375 (29) 222-22-40
          a.footer-email(href='mailto:director@it-1.by') director@it-1.by
          .footer-address Минск, ул.Казинца, дом 11а, офис Б-405
          .footer-work Режим работы: пн - пт 9<sup>00</sup> - 18<sup>00</sup>

    script(src='assets/js/swiper-bundle.min.js') 
    script(src='js/main.min.js') 
