doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='css/style.css')
    title System Solution
  body 
    .mobile-menu 
      img.mobile-close.dropdown-close(
        src='assets/close.svg',
        alt='Menu close button'
      )
      a.phone.header-info__phone(href='tel:+375292222240') +375 (29) 222-22-40
      ul.menu.header-menu
        li.menu-item.header-menu__item
          a.menu-link.header-menu__link(href='#') о компании
        li.menu-item.header-menu__item
          a.menu-link.header-menu__link.dropdown-open(href='#') услуги
          ul.dropdown-menu 
            img.dropdown-back(
              src='assets/slider-arrow.svg',
              alt='Dropdown menu back button'
            )
            img.dropdown-close.dropdown-close-btn(
              src='assets/close.svg',
              alt='Dropdown menu close button'
            )
            li.dropdown-menu-item
              a.dropdown-link(href='#') Обслуживание компьютеров
            li.dropdown-menu-item
              a.dropdown-link(href='#') Обслуживание серверов
            li.dropdown-menu-item
              a.dropdown-link(href='#') IT-аутсорсинг
            li.dropdown-menu-item
              a.dropdown-link(href='#') Монтаж СКС и ЛВС
            li.dropdown-menu-item
              a.dropdown-link(href='#') IP-телефония
            li.dropdown-menu-item
              a.dropdown-link(href='#') Видеонаблюдение
            li.dropdown-menu-item
              a.dropdown-link(href='#') Внедрение и сопровождение Битрикс24
        li.menu-item.header-menu__item
          a.menu-link.header-menu__link(href='#') цены
        li.menu-item.header-menu__item
          a.menu-link.header-menu__link(href='#') информация
        li.menu-item.header-menu__item
          a.menu-link.header-menu__link(href='#') контакты
    header.header.sticky
      a.header-logo-wrapper(href='#') 
        img.logo.header-logo(
          src='assets/logo-dark.svg',
          alt='System Solution logo'
        )
      img.header-mobile-menu(
        src='assets/menu-burger.svg',
        alt='Open mobile menu button'
      )

      .header-inner
        .header-info
          .header-info__search
            img.header-info__search-icon(
              src='assets/search-icon.svg',
              alt='Search button'
            )
            input.header-info__search-input(type='text', placeholder='')

          a.phone.header-info__phone(href='tel:+375292222240') +375 (29) 222-22-40
          .header-info__work
            .header-info__work-title Режим работы
            .header-info__work-hours пн - пт <span>9</span><sup>00</sup> - <span>18</span><sup>00</sup>
          .header-info__contacts 
            .header-info__contacts-address Минск, ул.Казинца, дом 11а, офис Б-405
            a.header-info__contacts-email(href='mailto:director@it-1.by') director@it-1.by
        ul.menu.header-menu
          li.menu-item.header-menu__item
            a.menu-link.header-menu__link(href='#') о компании
          li.menu-item.header-menu__item
            a.menu-link.header-menu__link(href='#') услуги
            ul.dropdown-menu 
              li.dropdown-menu-item
                a.dropdown-link(href='#') Обслуживание компьютеров
              li.dropdown-menu-item
                a.dropdown-link(href='#') Обслуживание серверов
              li.dropdown-menu-item
                a.dropdown-link(href='#') IT-аутсорсинг
              li.dropdown-menu-item
                a.dropdown-link(href='#') Монтаж СКС и ЛВС
              li.dropdown-menu-item
                a.dropdown-link(href='#') IP-телефония
              li.dropdown-menu-item
                a.dropdown-link(href='#') Видеонаблюдение
              li.dropdown-menu-item
                a.dropdown-link(href='#') Внедрение и сопровождение Битрикс24
          li.menu-item.header-menu__item
            a.menu-link.header-menu__link(href='#') цены
          li.menu-item.header-menu__item
            a.menu-link.header-menu__link(href='#') информация
          li.menu-item.header-menu__item
            a.menu-link.header-menu__link(href='#') контакты
      .header-button-wrapper
        button.button.header-button заказать звонок
    main.main 
      section.hero 
        .container
          .hero-wrapper
            .hero-text 
              h1.hero-text__title.text-xxl Видеонаблюдение
              p.hero-text__subtitle.text-l Проектирование, монтаж, обслуживание систем видеонаблюдения
            img.hero-image(src='assets/hero-img.svg', alt='Hero image')
      section.about 
        .container
          h2.about-title.section-title.text-xxl Монтаж
          .about-inner.align-start 
            img.about-image.w-375(src='assets/wrench.png', alt='About image')
            .about-text.mx-w 
              .about-text__description.text-s Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a. Rhoncus tellus eleifend vitae, pulvinar massa elementum erat risus sit. Id nunc donec quis nunc. Viverra risus quis risus ornare consequat eros adipiscing. In mauris commodo volutpat morbi. Viverra neque tellus mi semper euismod malesuada egestas ipsum. Vitae nisi interdum feugiat molestie diam semper. Lectus sit tincidunt vitae, lobortis massa ut. Dapibus posuere lorem ornare in. <br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a. Rhoncus tellus eleifend vitae, pulvinar massa elementum erat risus sit. Id nunc donec quis nunc. Viverra risus quis risus ornare consequat eros adipiscing. In mauris commodo volutpat morbi. Viverra neque tellus mi semper euismod malesuada egestas ipsum. Vitae nisi interdum feugiat molestie diam semper. Lectus sit tincidunt vitae, lobortis massa ut. Dapibus posuere lorem ornare in.
      section.about 
        .container
          h2.about-title.section-title.text-xxl Обслуживание
          .about-inner.align-start 
            .about-text.mx-w 
              .about-text__description.text-s Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis nunc nisl lectus quam interdum duis congue ultrices. Sodales nulla nunc id sit imperdiet et gravida ac. Adipiscing leo, pellentesque orci aliquam et. Commodo adipiscing ut erat at at. Urna hac lacus, nec duis porttitor a. Rhoncus tellus eleifend vitae, pulvinar massa elementum erat risus sit. Id nunc donec quis nunc. Viverra risus quis risus ornare consequat eros adipiscing. In mauris commodo volutpat morbi. Viverra neque tellus mi semper euismod malesuada egestas ipsum. Vitae nisi interdum feugiat molestie diam semper. Lectus sit tincidunt vitae, lobortis massa ut. Dapibus posuere lorem ornare in.
              h3.list-title.font-xl.calculator-inner-title Перечень работ
              ul.list 
                li.list-item.text-s Lorem ipsum dolor sit amet, consectetur adipiscing elit
                li.list-item.text-s Lorem ipsum dolor sit amet, consectetur adipiscing elit
                li.list-item.text-s Lorem ipsum dolor sit amet, consectetur adipiscing elit
                li.list-item.text-s Lorem ipsum dolor sit amet, consectetur adipiscing elit
                li.list-item.text-s Lorem ipsum dolor sit amet, consectetur adipiscing elit
                li.list-item.text-s Lorem ipsum dolor sit amet, consectetur adipiscing elit

            img.about-image.w-375(src='assets/gear.png', alt='About image')

      section.prices 
        .container
          .prices-wrapper
            h2.section-title.text-xxl Стоимость материалов и услуг
            .prices-cards 
              .prices-card
                img.prices-card__image(
                  src='assets/prices(1).svg',
                  alt='Prices card image'
                )
                h3.prices-card__title Обслуживание компьютеров
                .prices-card__bottom.justify-center
                  .prices-card__price 1100<span>byn</span>

              .prices-card
                img.prices-card__image(
                  src='assets/prices(1).svg',
                  alt='Prices card image'
                )
                h3.prices-card__title Обслуживание серверов
                .prices-card__bottom.justify-center
                  .prices-card__price 1100<span>byn</span>

              .prices-card
                img.prices-card__image(
                  src='assets/prices(1).svg',
                  alt='Prices card image'
                )
                h3.prices-card__title IT-аутсорсинг
                .prices-card__bottom.justify-center
                  .prices-card__price 1100<span>byn</span>

              .prices-card
                img.prices-card__image(
                  src='assets/prices(1).svg',
                  alt='Prices card image'
                )
                h3.prices-card__title Монтаж СКС и ЛВС
                .prices-card__bottom.justify-center
                  .prices-card__price 1100<span>byn</span>
      section.feedback.feedback-right 
        .container
          .feedback-wrapper
            img.feedback-image(src='assets/form-image-2.svg', alt='Form image')
            form.feedback-form 
              h3.feedback-form__title Все еще сомневаетесь?
              p.feedback-form__subtitle.text-s Оставьте заявку и наши менеджеры помогут вам сэконимить бюджет
              input.input.feedback-form__input(placeholder='Ваше имя') 
              input.input.feedback-form__input(placeholder='Ваш телефон') 
              button.button.feedback-form__button отправить заявку

    footer.footer
      .container
        .footer-wrapper
          img.footer-logo(src='assets/logo-light.svg', alt='Footer logo')
          ul.menu.footer-menu
            li.menu-item.footer-menu__item 
              a.menu-link.footer-menu__link о компании
            li.menu-item.footer-menu__item 
              a.menu-link.footer-menu__link услуги
            li.menu-item.footer-menu__item 
              a.menu-link.footer-menu__link цены
            li.menu-item.footer-menu__item 
              a.menu-link.footer-menu__link информация
            li.menu-item.footer-menu__item 
              a.menu-link.footer-menu__link контакты
          a.phone.footer-phone(href='tel:+375292222240') +375 (29) 222-22-40
          a.footer-email(href='mailto:director@it-1.by') director@it-1.by
          .footer-address Минск, ул.Казинца, дом 11а, офис Б-405
          .footer-work Режим работы: пн - пт 9<sup>00</sup> - 18<sup>00</sup>

    script(src='assets/js/swiper-bundle.min.js') 
    script(src='js/main.min.js') 
